<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
   <header>
    <% include ../partials/header.ejs %>
   </header
   <nav>
       <% include ../partials/nav.ejs %>
   </nav>
    <div class="main">
      <div class="container">
        <% for (let i = 0; i < events.length; i++) {%>
          <div class="event">
            <h2><%=events[i].title%></h2>
            <h3><%=events[i].dateAndTime%></h3>
            <h4><%=events[i].location%></h4>
            <a href="/pghfree/events/<%=events[i].id%>"><img class="img-fluid" src="<%=events[i].eventPhoto%>" alt=""></a></br>
       <% }%>
      </div>

    </div>

  </body>
</html>
