<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
   <header>
    <% include ../partials/header.ejs %>
   </header
   <nav>
       <% include ../partials/nav.ejs %>

   </nav>
   <div class="container">
     <div class="changepage">
       <ul class="pagination">
         <li class="page-item" id = 'previous-page'><a class="page-link" href="#">Previous</a></li>
       </ul>
     </div>



   <div id='eventContainer' class="container">

        <% for (let i = 0; i < events.length; i++) {%>
            <div class="event">
          <div class="eventImage">
            <img class="img-fluid" src="<%=events[i].eventPhoto%>" alt="">
          </div>
          <div class="eventContent">
            <a href="/pghfree/events/<%=events[i].id%>"><h2><%=events[i].title%></h2></a>
            <h3><%=events[i].dateAndTime%></h3>
            <h4><%=events[i].location%></h4>

            </div>
          </div>


       <% }%>
       <div class="container changepage">
         <ul class="pagination">
           <li class="page-item" id = 'previous-page'><a class="page-link" href="#">Previous</a></li>
         </ul>
       </div>


    </div>
</div>
  <footer> <% include ../partials/footer.ejs %></footer>
  </body>

</html>
