<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
      <header>
         <% include ../partials/header.ejs %>
      </header>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
    <div class="container eventContainer">
    <img src="<%=event.eventPhoto%>" alt="">
    <h1><%=event.title%></h1>
    <h1><%=event.dateAndTime%></h1>
    <h1><%=event.location%></h1>
    <h1><%=event.description%></h1>
    <a href="<%=event.findOutMore%>">
        <button type="button" class="btn btn-info" name="button">Find Out More</button>
    </a>

    </div>

    </div>
  </body>
</html>
