<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
 <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="event">
    <img src="<%=event.eventPhoto%>" alt="">
    <h1><%=event.title%></h1>
    <h1><%=event.dateAndTime%></h1>
    <h1><%=event.location%></h1>
    <a href="<%=event.findOutMore%>">find out more</a>
    
    </div>

    </div>
  </body>
</html>
